pandas
numpy
openai
pyautogen
chromadb
langchain
langchain-openai
langchain-community
langchain-core
langchain-openai 
langchainhub 
langchain-anthropic
yfinance
pypdf
faiss-cpu
umap-learn 
scikit-learn 
tiktoken
